<div class="program-nav__head">
  <a href="index.html" class="program-nav__brand">
    <span class="stamp">THE PROGRAM</span>
    <p class="program-nav__name">Jay<br>Fernando</p>
  </a>
</div>
<ol class="program-nav__list">
  <li><a href="index.html" data-label="PROLOGUE">About</a></li>
  <li><a href="resume.html" data-label="ACT I">Résumé</a></li>
  <li><a href="reading.html" data-label="INTERMISSION">Reading</a></li>
  <li><a href="technical.html" data-label="ACT II">Technical Work</a></li>
  <li><a href="theatre.html" data-label="ACT III">Theatre</a></li>
  <li><a href="blog.html" data-label="ENCORE">Field Notes</a></li>
</ol>
